<!--<table class = "table table-striped">
    <thead>
        <tr>
            <th> Id </th>
            <th> Title </th>
            <th> price</th>
            <th> Author </th>
            <th> releaseDate </th>
            <th> Cover</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let book of books" >
            <td> {{ book.id }} </td>
            <td> {{ book.title }} </td>
            <td> {{ book.price }} </td>
            <td> {{ book.author }} </td>
            <td> {{ book.releaseDate }} </td>
            <td><img src="{{ path + book.cover }}" alt="img" width="140" height="220" /></td>
        </tr>
    </tbody>
</table>
-->
<body>
<div *ngFor = "let book of books" class="list-cards">
    <mat-card class="card">
        <mat-card-header >
          <div mat-card-avatar class="card-header-image"></div>
          <mat-card-title>{{ book.title }}</mat-card-title>
          <br>
          <mat-card-subtitle>{{ book.author }}</mat-card-subtitle>
          <img mat-card-image src="{{ path + book.cover }}" width="198" height="220" alt="{{ book.title }}">
        </mat-card-header>
       
        <mat-card-content>
         <p> Release Date : {{ book.releaseDate }}</p>
         <p>Book Price : {{ book.price }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button >View Details</button>
          <button mat-raised-button>Order Now</button>
        </mat-card-actions>
      </mat-card>
</div>
</body>