<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Dashboard</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png"
          href="/loginx/images/icons/favicon.ico"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="/loginx/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="/loginx/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="/loginx/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="/loginx/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="/loginx/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="/loginx/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="/loginx/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="/loginx/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/loginx/css/util.css">
    <link rel="stylesheet" type="text/css" href="/loginx/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/books.css">
    <!--===============================================================================================-->
</head>
<body class="book-back">
<div class="limiter">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3"
         id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top"
               style="color: white">NRG BookStore</a>
            <button class="navbar-toggler navbar-toggler-right" type="button"
                    data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto my-2 my-lg-0"></ul>
                <a th:href="@{/logout}"
                   class="navbar-brand js-scroll-trigger btn btn-danger"
                   style="color: white">Logout</a>
            </div>
        </div>
    </nav>

    <div class="book-details">
        <div class="book-details-left">
            <img th:src="@{'/uploads/'+ ${book.cover}}" />
        </div>

        <div class="book-details-right">
            <span class="title" th:text="${book.title}">Title</span>
            <span class="author" th:text="${book.author}">Author</span>
            <span class="release" th:text="${book.releaseDate}">Release</span>
            <span class="price" th:text="${book.price}">Price</span>
        </div>
    </div>


</div>
<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
<script src="/loginx/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="/loginx/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="/loginx/vendor/bootstrap/js/popper.js"></script>
<script src="/loginx/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="/loginx/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="/loginx/vendor/daterangepicker/moment.min.js"></script>
<script src="/loginx/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="/loginx/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script src="/loginx/js/main.js"></script>
</body>
</html>
