<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Books</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
    
    <a class="nav-item nav-link" routerLink="/listBooks" routerLinkActive="active">Book List</a>
    <a class="nav-item nav-link" routerLink="/addBook" routerLinkActive="active">Add book</a>
    <a class="nav-item nav-link" routerLink="/listOrders" routerLinkActive="active">Order List</a>
    
    </div>
    </div>
    </nav>
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
    
    <router-outlet></router-outlet>